.input {
  display: none;
}

.card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cardContent {
  width: 90%;
  height: 250px;
  border: 2px dashed #8ecae6;
  margin: auto;
}

.imagePriview {
  display: flex;
  justify-content: center;
  position: relative;
}

.priview {
  border-radius: 4px;
  filter: brightness(30%);
}

.sizeCompression {
  position: absolute;
  color: #fff;
  font-size: 1rem;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
